# Core ML
tensorflow==2.15.0
keras==2.15.0
scikit-learn
joblib
numpy
pandas
matplotlib
seaborn

# Image processing
Pillow

# Streamlit app
streamlit==1.50.0

# Cloudinary (untuk upload gambar)
cloudinary

# Google Sheets API
gspread
google-auth